@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .page-title {
    @apply text-2xl font-bold text-gray-900 mb-6;
  }
  
  .section {
    @apply bg-white shadow sm:rounded-lg p-6;
  }
  
  .card {
    @apply bg-white shadow rounded-lg p-6;
  }
}
